/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-image: url("imagenes/fondo_inazuma.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /*background: linear-gradient(135deg, #6a11cb, #2575fc);*/
  color: #000000;
  text-align: center;
  padding: 20px;
  
}

.card {
  background-color: rgb(255, 255, 255);
  backdrop-filter: blur(10px);
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 100%;
}

h1 {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  margin-right: 0.5rem;
  font-size: 1rem;
  background-color: #d8d8d8;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  background-color: #ffdd59;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #ffc107;
}

#saludo {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

p {
  margin-top: 1rem;
  font-size: 1rem;
}
h3{
   text-align: left;
}